.content {
	margin: auto 25% auto 25%;
	text-align: justify;
}

.nav {
	display: block;
	position: fixed;
	top: 5%;
	left: 2.5%;
	width: 20%;
	height: 90%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sign {
	text-align: right;
	font-style: italic;
}